@import "tailwindcss";

@theme {
  --color-indigo-50: #f5f7ff;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;
}

body {
  @apply bg-slate-50 text-slate-900;
}
